apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir
  labels:
    app.kubernetes.io/name: mimir
    app.kubernetes.io/component: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: mimir
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mimir
        app.kubernetes.io/component: observability
    spec:
      securityContext:
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: mimir
          image: grafana/mimir:2.13.0
          args:
            - -config.file=/etc/mimir.yaml
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - ALL
          ports:
            - containerPort: 9009
              name: http
          volumeMounts:
            - name: mimir-tmp
              mountPath: /tmp
            - name: mimir-config
              mountPath: /etc/mimir.yaml
              subPath: mimir.yaml
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
      volumes:
        - name: mimir-tmp
          emptyDir: {}
        - name: mimir-config
          configMap:
            name: mimir-config
