apiVersion: apps/v1
kind: Deployment
metadata:
  name: secure-observable-api
spec:
  revisionHistoryLimit: 8
  minReadySeconds: 20
  progressDeadlineSeconds: 600
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  replicas: 2
