version: '3'

tasks:
  security:tools:
    cmds:
      - mkdir -p ./bin
      - GOBIN=$(pwd)/bin go install github.com/securego/gosec/v2/cmd/gosec@v2.22.9
      - GOBIN=$(pwd)/bin GOTOOLCHAIN=go1.24.13 go install golang.org/x/vuln/cmd/govulncheck@v1.1.4
      - GOBIN=$(pwd)/bin go install github.com/zricethezav/gitleaks/v8@v8.24.2

  security:gosec:
    deps: [security:tools]
    cmds:
      - ./bin/gosec -quiet -exclude-generated -exclude-dir=bin -exclude-dir=.git -tests ./...

  security:deps:
    deps: [security:tools]
    cmds:
      - GOTOOLCHAIN=go1.24.13 ./bin/govulncheck ./...

  security:secrets:
    deps: [security:tools]
    cmds:
      - ./bin/gitleaks git --config .gitleaks.toml --redact --exit-code 1

  security:
    cmds:
      - task security:gosec
      - task security:deps
      - task security:secrets
